
<%= link_to("<< " + t(:return_to), professionals_path, :class => 'back-link') %>

<div class="professionals delete">
  <h2><%= t(:delete) + " " + t(:professional) %></h2>


		<%= form_for(:professional, :url => professional_path(@professional.id), :html => {:method => :delete}) do |f| %>


				<p> A<p> <%= t(:delete_message) %> </p> </p>
	
	 			<p class="reference-name"><%= @professional.first_name %></p>



			<div class="form-buttons">
				<%= submit_tag(t(:delete) + " " + t(:professional)) %>
			</div>

		<% end %>

</div>