
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
  <title>Welcome to TsCrm | <%= @page_title || "Profesional" %></title> 


      <%= stylesheet_link_tag('application', :media => 'all') %>
      <%= javascript_include_tag('application') %>  <!-- This is having problems when I place 'public'. It needs attention...  --> 
      <%= csrf_meta_tags %>   <!-- It seems this helps for the forgery part -->

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">TS CRM</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Welcome to TS CRM</h1>
            <p class="lead">Please select if you are a Company or a Professional, so we can take you to enjoy the easiest way to keep track on all your passed and future scheduled appointments. You can create appointments on the go, check what clients do you need meet and where and much more...</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Company</a>
              <a href="#" class="btn btn-lg btn-default">Professional</a> <!-- these two will need to be maked into links to the login page but once any of them is clicked I will know what sort of cliente I am dealing with which will help to make much more future decisions -->  

              <li><%= link_to("Logout", :action => 'exit') %></li>
            </p>
          </div>
          

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
